main{
    display: flex;
    flex-direction: column;
}

main div{
    flex-grow: 1;
}
#sr{
    display: flex;  
}


#effect {
    position: relative;
    width: 60%;
    height: 70%;
    padding: 0.4em;
    margin-left: 35%;
}
#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

#effect2 {
    position: relative;
    width: 60%;
    height: 70%;
    padding: 0.4em;
    margin-left: 35%;
}
#effect2 h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}
#effect3{
    position: relative;
    width: 60%;
    height: 70%;
    padding: 0.4em;
    margin-left: 35%;
}
#effect3 h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}
